<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Loading-and-inspecting-data" data-toc-modified-id="Loading-and-inspecting-data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Loading and inspecting data</a></span><ul class="toc-item"><li><span><a href="#merged_data" data-toc-modified-id="merged_data-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>merged_data</a></span></li><li><span><a href="#country_codes" data-toc-modified-id="country_codes-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>country_codes</a></span></li><li><span><a href="#loc_region_codes" data-toc-modified-id="loc_region_codes-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>loc_region_codes</a></span></li><li><span><a href="#target_data" data-toc-modified-id="target_data-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>target_data</a></span></li></ul></li><li><span><a href="#Matching-location-data" data-toc-modified-id="Matching-location-data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Matching location data</a></span><ul class="toc-item"><li><span><a href="#Imputing-missing-values" data-toc-modified-id="Imputing-missing-values-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Imputing missing values</a></span></li><li><span><a href="#OHE-region" data-toc-modified-id="OHE-region-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>OHE region</a></span></li><li><span><a href="#OHE-country" data-toc-modified-id="OHE-country-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>OHE country</a></span></li><li><span><a href="#OHE-local-region" data-toc-modified-id="OHE-local-region-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>OHE local region</a></span></li></ul></li><li><span><a href="#Merge-all-data-and-drop-columns" data-toc-modified-id="Merge-all-data-and-drop-columns-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Merge all data and drop columns</a></span></li></ul></div>

1 - Match regions to target file by country code <br>
2 - Match local regions to target file by region code<br>
3 - OHE country<br>
4 - OHE local region

In [4]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Loading and inspecting data

In [5]:
import pandas as pd
import numpy as np

In [8]:
file_path1='/Users/sophie/code/DealMatch/DealMatch/raw_data/local_regions_merge/merged_data_26_feb.xlsx' # investor data
file_path2='/Users/sophie/code/DealMatch/DealMatch/raw_data/local_regions_merge/countries_regions_codes.xlsx' # country codes table
file_path3='/Users/sophie/code/DealMatch/DealMatch/raw_data/local_regions_merge/regions_202202261659.csv' # local regions table
file_path4='/Users/sophie/code/DealMatch/DealMatch/raw_data/local_regions_merge/investor_deals.xlsx' # target data

## merged_data

In [200]:
merged_data=pd.read_excel(file_path1)
merged_data=merged_data.drop(['Unnamed: 0'],axis=1)
merged_data.head()

,deal_id,result,investor_id,investor_name,is_lost,target_revenue,target_ebitda,target_ebit,DISTRESSED_x,MAJORITY_x,...,investment_Northern_Europe,investment_Polynesia,investment_South_America,investment_South-eastern_Asia,investment_Southern_Africa,investment_Southern_Asia,investment_Southern_Europe,investment_Western_Africa,investment_Western_Asia,investment_Western_Europe
0,3,0,1,Greencoat Capital,0,-0.670000,-1.344,-1.400000,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
1,6,0,7,AL Capital Holding GmbH & Co. KG,0,4.745455,4.080,4.250000,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,7,0,7,AL Capital Holding GmbH & Co. KG,0,-0.209091,0.800,0.833333,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,8,0,7,AL Capital Holding GmbH & Co. KG,1,4.954545,3.360,2.250000,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,9,1,7,AL Capital Holding GmbH & Co. KG,1,-0.118182,0.240,0.250000,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [209]:
merged_data[merged_data['deal_id'] == 6]

,deal_id,result,investor_id,investor_name,is_lost,target_revenue,target_ebitda,target_ebit,DISTRESSED_x,MAJORITY_x,...,investment_Northern_Europe,investment_Polynesia,investment_South_America,investment_South-eastern_Asia,investment_Southern_Africa,investment_Southern_Asia,investment_Southern_Europe,investment_Western_Africa,investment_Western_Asia,investment_Western_Europe
1,6,0,7,AL Capital Holding GmbH & Co. KG,0,4.745455,4.08,4.25,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [22]:
[x for x in merged_data.columns]

['deal_id',
 'result',
 'investor_id',
 'investor_name',
 'is_lost',
 'target_revenue',
 'target_ebitda',
 'target_ebit',
 'DISTRESSED_x',
 'MAJORITY_x',
 'MINORITY_x',
 'OTHER',
 'VC',
 'NOT_SPECIFIED',
 'NO_CAPACITY',
 'NO_MA_PLANNED',
 'NO_REGION_FIT',
 'NO_RESPONSE',
 'NO_STRATEGIC_FIT',
 'TOO_EXPENSIVE',
 'TOO_SMALL',
 'target_agriculture',
 'target_automotive',
 'target_biotechnology_and_life_sciences',
 'target_chemicals',
 'target_computer_hardware_and_equipment',
 'target_construction',
 'target_consumer_goods_and_apparel',
 'target_defense',
 'target_electronics',
 'target_energy',
 'target_financial_services',
 'target_food_and_beverages',
 'target_food_and_staples_retailing',
 'target_health_care_equipment_and_services',
 'target_it_services',
 'target_industrial_automation',
 'target_industrial_products_and_services',
 'target_insurance',
 'target_internet_ecommerce',
 'target_leisure_and_consumer_services',
 'target_manufacturing_other',
 'target_media',
 'target_mining',
 'target_pharmaceuticals',
 'target_professional_services_b2b',
 'target_real_estate',
 'target_retailing',
 'target_semiconductors_and_semiconductor_equipment',
 'target_software_and_services',
 'target_telecommunication_hardware',
 'target_telecommunication_services',
 'target_transportation',
 'target_utilities',
 'exit_oriented_x',
 'management_takeover_x',
 'agnostic_x',
 'no_fee',
 'pays_1',
 'pays_2',
 'pays_3',
 'fee_sharing_10',
 'fee_sharing_25',
 'keine_marge',
 'mind_10',
 'mind_15',
 'mind_20',
 'mind_5',
 'undermanaged',
 'CAPITAL_INCREASE',
 'CARVE_OUT',
 'DISTRESSED_y',
 'GROWTH',
 'INSOLVENCY',
 'REAL_ESTATE',
 'SEED',
 'SUCCESSION',
 'FULL',
 'MAJORITY_y',
 'MINORITY_y',
 'no_stake_info',
 'investor_agriculture',
 'investor_automotive',
 'investor_biotechnology_and_life_sciences',
 'investor_chemicals',
 'investor_computer_hardware_and_equipment',
 'investor_construction',
 'investor_consumer_goods_and_apparel',
 'investor_defense',
 'investor_electronics',
 'investor_energy',
 'investor_financial_services',
 'investor_food_and_beverages',
 'investor_food_and_staples_retailing',
 'investor_government',
 'investor_health_care_equipment_and_services',
 'investor_it_services',
 'investor_industrial_automation',
 'investor_industrial_products_and_services',
 'investor_insurance',
 'investor_internet_ecommerce',
 'investor_leisure_and_consumer_services',
 'investor_manufacturing_other',
 'investor_media',
 'investor_mining',
 'investor_pharmaceuticals',
 'investor_professional_services_b2b',
 'investor_real_estate',
 'investor_retailing',
 'investor_semiconductors_and_semiconductor_equipment',
 'investor_software_and_services',
 'investor_telecommunication_hardware',
 'investor_telecommunication_services',
 'investor_transportation',
 'investor_utilities',
 'investor_sector_count',
 'name',
 'company_category_id',
 'company_state_id',
 'fees_rate',
 'inroad',
 'exit_oriented_y',
 'management_takeover_y',
 'seriousness',
 'agnostic_y',
 'margin',
 'created_at',
 'updated_at',
 'company_inroad_id',
 'company_id',
 'max_revenue',
 'min_revenue',
 'max_ebitda',
 'min_ebitda',
 'max_equity',
 'min_equity',
 'searchmandate',
 'invest_profile_id',
 'investor_Australia_and_New_Zealand',
 'investor_Eastern_Africa',
 'investor_Eastern_Asia',
 'investor_Eastern_Europe',
 'investor_Northern_Africa',
 'investor_Northern America',
 'investor_Northern_Europe',
 'investor_South_America',
 'investor_South_Eastern_Asia',
 'investor_Southern_Africa',
 'investor_Southern_Asia',
 'investor_Southern_Europe',
 'investor_Western_Africa',
 'investor_Western Asia',
 'investor_Western_Europe',
 'investment_Australia_and_New_Zealand',
 'investment_Caribbean',
 'investment_Central_America',
 'investment_Central_Asia',
 'investment_Eastern_Africa',
 'investment_Eastern_Asia',
 'investment_Eastern_Europe',
 'investment_Latin_America_and_the_Caribbean',
 'investment_Melanesia',
 'investment_Micronesia',
 'investment_Middle_Africa',
 'investment_Northern_Africa',
 'investment_Northern_America',
 'investment_Northern_Europe',
 'investment_Polynesia',
 'investment_South_America',
 'investment_South-eastern_Asia',
 'investment_Southern_Africa',
 'investment_Southern_Asia',
 'investment_Southern_Europe',
 'investment_Western_Africa',
 'investment_Western_Asia',
 'investment_Western_Europe']

In [38]:
merged_data.isnull().sum().sort_values(ascending=False)/len(merged_data)

max_ebitda                           0.584505
fees_rate                            0.569445
min_ebitda                           0.473322
min_equity                           0.454144
max_revenue                          0.415377
                                       ...
target_food_and_staples_retailing    0.000000
target_food_and_beverages            0.000000
target_financial_services            0.000000
target_energy                        0.000000
deal_id                              0.000000
Length: 176, dtype: float64

## country_codes

In [15]:
country_codes=pd.read_excel(file_path2)
country_codes=country_codes.drop(['Unnamed: 0'], axis=1)
country_codes.head()

          country           region  country-code
0     Afghanistan    Southern Asia             4
1   Ã…land Islands  Northern Europe           248
2         Albania  Southern Europe             8
3         Algeria  Northern Africa            12
4  American Samoa        Polynesia            16

## loc_region_codes

In [19]:
loc_region_codes=pd.read_csv(file_path3, encoding='utf-8', delimiter=';')
loc_region_codes=loc_region_codes.drop(['name_de','name_fr','name_es'],axis=1)
loc_region_codes.columns=['local_region_id', 'country_id', 'local_region_name']
loc_region_codes.head()

   local_region_id  country_id       local_region_name
0                1         276  North Rhine-Westphalia
1                2         276            Lower Saxony
2                3         276                 Bavaria
3                4         276    Rhineland-Palatinate
4                5         276                   Hesse

## target_data

In [43]:
target_data=pd.read_excel(file_path4)
target_data.head()

,Unnamed: 0,investor_id,name,description,short_description,products_description,company_category_id,number_of_employees,ebit,ebitda,...,deal_sector_id,subsector_id,created_at.3,updated_at.3,deleted_at.3,is_deleted.3,subsector_id.1,sector_id.2,name_en.3,name_de.3
0,0,1,Greencoat Capital,NaN,NaN,NaN,1,NaN,NaN,NaN,...,1,236,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,236,1,Solar power,Solarenergie
1,1,1,Greencoat Capital,NaN,NaN,NaN,1,NaN,NaN,NaN,...,2,236,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,236,1,Solar power,Solarenergie
2,2,1,Greencoat Capital,NaN,NaN,NaN,1,NaN,NaN,NaN,...,2,238,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,238,1,Renewable energy - other,Erneuerbare Energie - sonstige
3,3,1,Greencoat Capital,NaN,NaN,NaN,1,NaN,NaN,NaN,...,3,72,2021-10-14 13:47:14,2021-10-14 13:47:14,NaN,0,72,9,Pumps and compressors,Pumpen und Armaturen
4,4,1,Greencoat Capital,NaN,NaN,NaN,1,NaN,NaN,NaN,...,4,182,2021-10-14 13:47:14,2021-10-14 13:47:14,NaN,0,182,23,Other Diversified Financial Services,Finanzdienstleistungen - sonstige

In [44]:
[x for x in target_data.columns]

['Unnamed: 0',
 'investor_id',
 'name',
 'description',
 'short_description',
 'products_description',
 'company_category_id',
 'number_of_employees',
 'ebit',
 'ebitda',
 'revenue',
 'bs_total',
 'website',
 'origin_country_id',
 'origin_region_id',
 'zipcode',
 'database_import_id',
 'company_source_id',
 'company_state_id',
 'fees_rate',
 'fees_cap',
 'fees_floor',
 'fees_fa',
 'fees_info',
 'inroad',
 'exit_oriented',
 'management_takeover',
 'seriousness',
 'agnostic',
 'margin',
 'crm_id',
 'crm_created_at',
 'crm_updated_at',
 'crm_synced_at',
 'verified_at',
 'verified_by',
 'parent_company_id',
 'ma_history',
 'created_at',
 'updated_at',
 'deleted_at',
 'is_deleted',
 'company_inroad_id',
 'deal_id',
 'company_id',
 'name.1',
 'deal_type_id',
 'deal_stage_id',
 'is_lost',
 'lost_reason_id',
 'comment',
 'target_company_id',
 'target_name',
 'target_description',
 'target_revenue',
 'target_ebitda',
 'target_ebit',
 'target_country_id',
 'target_region_id',
 'target_zipcode',
 'crm_id.1',
 'parent_crm_id',
 'crm_created_at.1',
 'crm_updated_at.1',
 'crm_synced_at.1',
 'created_at.1',
 'updated_at.1',
 'deleted_at.1',
 'is_deleted.1',
 'lead_source_id',
 'lead_prio',
 'type_id',
 'name.2',
 'tx_type_id',
 'name.3',
 'ror_id',
 'ror_name',
 'country_id',
 'iso_alpha2',
 'iso_alpha3',
 'name_en',
 'name_de',
 'name_fr',
 'name_es',
 'phone_country_code',
 'continent_id',
 'region_id',
 'country_id.1',
 'name_en.1',
 'name_de.1',
 'name_fr.1',
 'name_es.1',
 'deal_id.1',
 'deal_id.2',
 'sector_id',
 'created_at.2',
 'updated_at.2',
 'deleted_at.2',
 'is_deleted.2',
 'sector_id.1',
 'name_en.2',
 'name_de.2',
 'xy_id',
 'deal_sector_id',
 'subsector_id',
 'created_at.3',
 'updated_at.3',
 'deleted_at.3',
 'is_deleted.3',
 'subsector_id.1',
 'sector_id.2',
 'name_en.3',
 'name_de.3']

In [53]:
pd.DataFrame(target_data.isnull().sum().sort_values(ascending=False)/len(target_data))[:40]

                             0
origin_region_id      1.000000
bs_total              1.000000
crm_created_at        1.000000
verified_by           1.000000
parent_company_id     1.000000
company_source_id     1.000000
ma_history            1.000000
zipcode               1.000000
lead_prio             1.000000
deleted_at.1          1.000000
deleted_at            1.000000
deleted_at.3          1.000000
revenue               1.000000
ebit                  1.000000
number_of_employees   1.000000
deleted_at.2          1.000000
products_description  1.000000
short_description     1.000000
ebitda                1.000000
lead_source_id        0.996805
description           0.995939
fees_floor            0.995107
fees_cap              0.992178
fees_info             0.976435
target_company_id     0.955732
verified_at           0.793170
fees_fa               0.751598
comment               0.662195
ror_name              0.598722
lost_reason_id        0.598722
ror_id                0.598722
fees_rate             0.558115
region_id             0.269005
name_en.1             0.269005
country_id.1          0.269005
target_region_id      0.269005
name_es.1             0.269005
name_fr.1             0.269005
name_de.1             0.269005
website               0.228398

In [66]:
target_region=target_data[['deal_id', 'target_country_id', 'target_region_id']]

In [47]:
target_region.isnull().sum().sort_values(ascending=False)/len(target_region)

country_id.1         0.269005
region_id            0.269005
target_country_id    0.213154
deal_id              0.000000
dtype: float64

In [67]:
target_region['target_country_id'] = target_region['target_country_id'].fillna(0).astype(int)
target_region['target_region_id'] = target_region['target_region_id'].fillna(0).astype(int)
target_region.head(10)

/var/folders/qr/zj6021nd67q4r28tdnk1qnw00000gn/T/ipykernel_78726/811044437.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_region['target_country_id'] = target_region['target_country_id'].fillna(0).astype(int)
/var/folders/qr/zj6021nd67q4r28tdnk1qnw00000gn/T/ipykernel_78726/811044437.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  target_region['target_region_id'] = target_region['target_region_id'].fillna(0).astype(int)

   deal_id  target_country_id  target_region_id
0        1                  0                 0
1        2                  0                 0
2        2                  0                 0
3        3                  0                 0
4        4                276                 3
5        5                276                 1
6        6                  0                 0
7        6                  0                 0
8        6                  0                 0
9        6                  0                 0

# Matching location data

In [147]:
target_matched = pd.merge(target_region, country_codes, left_on='target_country_id',right_on='country-code', how='left')
target_matched = pd.merge(target_matched, loc_region_codes, left_on='target_region_id', right_on='local_region_id', how='left')
target_matched = target_matched[['deal_id', 'target_country_id', 'target_region_id', 'region', 'country', 'local_region_name']]
target_matched.columns=['deal_id', 'target_country_id', 'target_region_id', 'target_region', 'target_country', 'target_local_region']
target_matched.head(10)

,deal_id,target_country_id,target_region_id,target_region,target_country,target_local_region
0,1,0,0,NaN,NaN,NaN
1,2,0,0,NaN,NaN,NaN
2,2,0,0,NaN,NaN,NaN
3,3,0,0,NaN,NaN,NaN
4,4,276,3,Western Europe,Germany,Bavaria
5,5,276,1,Western Europe,Germany,North Rhine-Westphalia
6,6,0,0,NaN,NaN,NaN
7,6,0,0,NaN,NaN,NaN
8,6,0,0,NaN,NaN,NaN
9,6,0,0,NaN,NaN,NaN

## Imputing missing values

In [156]:
target_matched.target_region.value_counts()

Western Europe      23463
Eastern Europe         69
Southern Europe        57
Northern Africa        32
Northern America       14
Northern Europe         5
Name: target_region, dtype: int64

In [157]:
target_matched['target_region']=target_matched.target_region.fillna('Western Europe')

In [158]:
target_matched.target_country.value_counts()

Germany                     22250
Switzerland                   746
Austria                       434
Portugal                       54
Poland                         35
Egypt                          32
Belgium                        30
Czechia                        27
United States of America       14
Romania                         5
Norway                          5
Netherlands                     3
Italy                           2
Slovakia                        2
Spain                           1
Name: target_country, dtype: int64

In [159]:
target_matched['target_country']=target_matched.target_country.fillna('Germany')

In [160]:
target_matched.target_local_region.value_counts()

Bavaria                   6634
North Rhine-Westphalia    5787
Baden-WÃ¼rttemberg         4892
Hesse                     3884
Lower Saxony              3761
Berlin                     978
Rhineland-Palatinate       918
Hamburg                    869
Saxony-Anhalt              560
Schleswig-Holstein         428
Thuringia                  395
Brandenburg                329
Saarland                   280
Bremen                     194
Mecklenburg-Vorpommern     122
Saxony                      13
Name: target_local_region, dtype: int64

In [161]:
target_matched.head(30)

,deal_id,target_country_id,target_region_id,target_region,target_country,target_local_region,rand_local_region
0,1,0,0,Western Europe,Germany,Bavaria,Bavaria
1,2,0,0,Western Europe,Germany,North Rhine-Westphalia,North Rhine-Westphalia
2,2,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg,Baden-WÃ¼rttemberg
3,3,0,0,Western Europe,Germany,Hesse,Hesse
4,4,276,3,Western Europe,Germany,Bavaria,Lower Saxony
5,5,276,1,Western Europe,Germany,North Rhine-Westphalia,Bavaria
6,6,0,0,Western Europe,Germany,North Rhine-Westphalia,North Rhine-Westphalia
7,6,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg,Baden-WÃ¼rttemberg
8,6,0,0,Western Europe,Germany,Hesse,Hesse
9,6,0,0,Western Europe,Germany,Lower Saxony,Lower Saxony
10,6,0,0,Western Europe,Germany,Bavaria,Bavaria
11,6,0,0,Western Europe,Germany,North Rhine-Westphalia,North Rhine-Westphalia
12,6,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg,Baden-WÃ¼rttemberg
13,7,0,0,Western Europe,Germany,Hesse,Hesse
14,8,276,6,Western Europe,Germany,Saarland,Lower Saxony
15,8,276,6,Western Europe,Germany,Saarland,Bavaria
16,9,276,15,Western Europe,Germany,Baden-WÃ¼rttemberg,North Rhine-Westphalia
17,10,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg,Baden-WÃ¼rttemberg
18,11,276,2,Western Europe,Germany,Lower Saxony,Hesse
19,11,276,2,Western Europe,Germany,Lower Saxony,Lower Saxony
20,11,276,2,Western Europe,Germany,Lower Saxony,Bavaria
21,12,0,0,Western Europe,Germany,North Rhine-Westphalia,North Rhine-Westphalia
22,12,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg,Baden-WÃ¼rttemberg
23,13,276,15,Western Europe,Germany,Baden-WÃ¼rttemberg,Hesse
24,13,276,15,Western Europe,Germany,Baden-WÃ¼rttemberg,Lower Saxony
25,14,0,0,Western Europe,Germany,Bavaria,Bavaria
26,15,276,5,Western Europe,Germany,Hesse,North Rhine-Westphalia
27,15,276,5,Western Europe,Germany,Hesse,Baden-WÃ¼rttemberg
28,15,276,5,Western Europe,Germany,Hesse,Hesse
29,15,276,5,Western Europe,Germany,Hesse,Lower Saxony

In [162]:
import random
import numpy as np
local_regions = ['Bavaria', 'North Rhine-Westphalia', 'Baden-WÃ¼rttemberg', 'Hesse', 'Lower Saxony']
target_matched['rand_local_region'] = np.resize(local_regions, len(target_matched))
target_matched['target_local_region'] = target_matched.target_local_region.fillna(target_matched.rand_local_region)
target_matched.drop(['rand_local_region'], axis=1, inplace=True)
target_matched.head(30)

,deal_id,target_country_id,target_region_id,target_region,target_country,target_local_region
0,1,0,0,Western Europe,Germany,Bavaria
1,2,0,0,Western Europe,Germany,North Rhine-Westphalia
2,2,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg
3,3,0,0,Western Europe,Germany,Hesse
4,4,276,3,Western Europe,Germany,Bavaria
5,5,276,1,Western Europe,Germany,North Rhine-Westphalia
6,6,0,0,Western Europe,Germany,North Rhine-Westphalia
7,6,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg
8,6,0,0,Western Europe,Germany,Hesse
9,6,0,0,Western Europe,Germany,Lower Saxony
10,6,0,0,Western Europe,Germany,Bavaria
11,6,0,0,Western Europe,Germany,North Rhine-Westphalia
12,6,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg
13,7,0,0,Western Europe,Germany,Hesse
14,8,276,6,Western Europe,Germany,Saarland
15,8,276,6,Western Europe,Germany,Saarland
16,9,276,15,Western Europe,Germany,Baden-WÃ¼rttemberg
17,10,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg
18,11,276,2,Western Europe,Germany,Lower Saxony
19,11,276,2,Western Europe,Germany,Lower Saxony
20,11,276,2,Western Europe,Germany,Lower Saxony
21,12,0,0,Western Europe,Germany,North Rhine-Westphalia
22,12,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg
23,13,276,15,Western Europe,Germany,Baden-WÃ¼rttemberg
24,13,276,15,Western Europe,Germany,Baden-WÃ¼rttemberg
25,14,0,0,Western Europe,Germany,Bavaria
26,15,276,5,Western Europe,Germany,Hesse
27,15,276,5,Western Europe,Germany,Hesse
28,15,276,5,Western Europe,Germany,Hesse
29,15,276,5,Western Europe,Germany,Hesse

## OHE region

In [163]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder(sparse = False)

ohe.fit(target_matched[['target_region']])

target_encoded = ohe.transform(target_matched[['target_region']])

In [164]:
target_encoded

array([[0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       ...,
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.]])

In [165]:
sorted(list(target_matched.target_region.unique()))

['Eastern Europe',
 'Northern Africa',
 'Northern America',
 'Northern Europe',
 'Southern Europe',
 'Western Europe']

In [167]:
target_regions = sorted(list(target_matched.target_region.unique()))
target_regions = [x.replace(' ','_') for x in target_regions]
target_regions = [f'target_{x}' for x in target_regions]
target_regions

['target_Eastern_Europe',
 'target_Northern_Africa',
 'target_Northern_America',
 'target_Northern_Europe',
 'target_Southern_Europe',
 'target_Western_Europe']

In [170]:
encoded_df = target_matched.copy()

In [171]:
encoded_df['target_Eastern_Europe'], encoded_df['target_Northern_Africa'], encoded_df['target_Northern_America'], encoded_df['target_Northern_Europe'], encoded_df['target_Southern_Europe'], encoded_df['target_Western_Europe'] = target_encoded.T
encoded_df.head()

,deal_id,target_country_id,target_region_id,target_region,target_country,target_local_region,target_Eastern_Europe,target_Northern_Africa,target_Northern_America,target_Northern_Europe,target_Southern_Europe,target_Western_Europe
0,1,0,0,Western Europe,Germany,Bavaria,0.0,0.0,0.0,0.0,0.0,1.0
1,2,0,0,Western Europe,Germany,North Rhine-Westphalia,0.0,0.0,0.0,0.0,0.0,1.0
2,2,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg,0.0,0.0,0.0,0.0,0.0,1.0
3,3,0,0,Western Europe,Germany,Hesse,0.0,0.0,0.0,0.0,0.0,1.0
4,4,276,3,Western Europe,Germany,Bavaria,0.0,0.0,0.0,0.0,0.0,1.0

## OHE country

In [172]:
ohe = OneHotEncoder(sparse = False)

ohe.fit(target_matched[['target_country']])

target_country_encoded = ohe.transform(target_matched[['target_country']])

In [179]:
target_country_encoded[34]

array([0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [174]:
sorted(list(target_matched.target_country.unique()))

['Austria',
 'Belgium',
 'Czechia',
 'Egypt',
 'Germany',
 'Italy',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Slovakia',
 'Spain',
 'Switzerland',
 'United States of America']

In [175]:
target_countries = sorted(list(target_matched.target_country.unique()))
target_countries = [x.replace(' ','_') for x in target_countries]
target_countries = [f'target_{x}' for x in target_countries]
target_countries

['target_Austria',
 'target_Belgium',
 'target_Czechia',
 'target_Egypt',
 'target_Germany',
 'target_Italy',
 'target_Netherlands',
 'target_Norway',
 'target_Poland',
 'target_Portugal',
 'target_Romania',
 'target_Slovakia',
 'target_Spain',
 'target_Switzerland',
 'target_United_States_of_America']

In [176]:
encoded_df['target_Austria'], encoded_df['target_Belgium'], encoded_df['target_Czechia'], encoded_df['target_Egypt'], encoded_df['target_Germany'], encoded_df['target_Italy'], encoded_df['target_Netherlands'],encoded_df['target_Norway'],encoded_df['target_Poland'],encoded_df['target_Portugal'],encoded_df['target_Romania'],encoded_df['target_Slovakia'],encoded_df['target_Spain'],encoded_df['target_Switzerland'],encoded_df['target_United_States_of_America'], = target_country_encoded.T
encoded_df.head()

,deal_id,target_country_id,target_region_id,target_region,target_country,target_local_region,target_Eastern_Europe,target_Northern_Africa,target_Northern_America,target_Northern_Europe,...,target_Italy,target_Netherlands,target_Norway,target_Poland,target_Portugal,target_Romania,target_Slovakia,target_Spain,target_Switzerland,target_United_States_of_America
0,1,0,0,Western Europe,Germany,Bavaria,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0,0,Western Europe,Germany,North Rhine-Westphalia,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0,0,Western Europe,Germany,Hesse,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,276,3,Western Europe,Germany,Bavaria,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## OHE local region

In [180]:
ohe = OneHotEncoder(sparse = False)

ohe.fit(target_matched[['target_local_region']])

target_state_encoded = ohe.transform(target_matched[['target_local_region']])

In [181]:
target_state_encoded

array([[0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [1., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [182]:
sorted(list(target_matched.target_local_region.unique()))

['Baden-WÃ¼rttemberg',
 'Bavaria',
 'Berlin',
 'Brandenburg',
 'Bremen',
 'Hamburg',
 'Hesse',
 'Lower Saxony',
 'Mecklenburg-Vorpommern',
 'North Rhine-Westphalia',
 'Rhineland-Palatinate',
 'Saarland',
 'Saxony',
 'Saxony-Anhalt',
 'Schleswig-Holstein',
 'Thuringia']

In [183]:
target_states = sorted(list(target_matched.target_local_region.unique()))
target_states = [x.replace(' ','_') for x in target_states]
target_states = [f'target_{x}' for x in target_states]
target_states

['target_Baden-WÃ¼rttemberg',
 'target_Bavaria',
 'target_Berlin',
 'target_Brandenburg',
 'target_Bremen',
 'target_Hamburg',
 'target_Hesse',
 'target_Lower_Saxony',
 'target_Mecklenburg-Vorpommern',
 'target_North_Rhine-Westphalia',
 'target_Rhineland-Palatinate',
 'target_Saarland',
 'target_Saxony',
 'target_Saxony-Anhalt',
 'target_Schleswig-Holstein',
 'target_Thuringia']

In [184]:
len(target_states)

16

In [185]:
encoded_df['target_Baden-WÃ¼rttemberg'], encoded_df['target_Bavaria'], encoded_df['target_Berlin'], encoded_df['target_Brandenburg'], encoded_df['target_Bremen'], encoded_df['target_Hamburg'],encoded_df['target_Hesse'],encoded_df['target_Lower_Saxony'],encoded_df['target_Mecklenburg-Vorpommern'],encoded_df['target_North_Rhine-Westphalia'],encoded_df['target_Rhineland-Palatinate'],encoded_df['target_Saarland'],encoded_df['target_Saxony'],encoded_df['target_Saxony-Anhalt'],encoded_df['target_Schleswig-Holstein'],encoded_df['target_Thuringia'] = target_state_encoded.T
encoded_df.head()

,deal_id,target_country_id,target_region_id,target_region,target_country,target_local_region,target_Eastern_Europe,target_Northern_Africa,target_Northern_America,target_Northern_Europe,...,target_Hesse,target_Lower_Saxony,target_Mecklenburg-Vorpommern,target_North_Rhine-Westphalia,target_Rhineland-Palatinate,target_Saarland,target_Saxony,target_Saxony-Anhalt,target_Schleswig-Holstein,target_Thuringia
0,1,0,0,Western Europe,Germany,Bavaria,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0,0,Western Europe,Germany,North Rhine-Westphalia,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0,0,Western Europe,Germany,Baden-WÃ¼rttemberg,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0,0,Western Europe,Germany,Hesse,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,276,3,Western Europe,Germany,Bavaria,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [216]:
encoded_df.head(10)

,deal_id,target_Eastern_Europe,target_Northern_Africa,target_Northern_America,target_Northern_Europe,target_Southern_Europe,target_Western_Europe,target_Austria,target_Belgium,target_Czechia,...,target_Hesse,target_Lower_Saxony,target_Mecklenburg-Vorpommern,target_North_Rhine-Westphalia,target_Rhineland-Palatinate,target_Saarland,target_Saxony,target_Saxony-Anhalt,target_Schleswig-Holstein,target_Thuringia
0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
6,6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
7,6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,6,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [211]:
encoded_df = encoded_df.drop(['target_country_id', 'target_region_id', 'target_region', 'target_country', 'target_local_region'], axis=1)

In [212]:
[x for x in encoded_df.columns]

['deal_id',
 'target_Eastern_Europe',
 'target_Northern_Africa',
 'target_Northern_America',
 'target_Northern_Europe',
 'target_Southern_Europe',
 'target_Western_Europe',
 'target_Austria',
 'target_Belgium',
 'target_Czechia',
 'target_Egypt',
 'target_Germany',
 'target_Italy',
 'target_Netherlands',
 'target_Norway',
 'target_Poland',
 'target_Portugal',
 'target_Romania',
 'target_Slovakia',
 'target_Spain',
 'target_Switzerland',
 'target_United_States_of_America',
 'target_Baden-WÃ¼rttemberg',
 'target_Bavaria',
 'target_Berlin',
 'target_Brandenburg',
 'target_Bremen',
 'target_Hamburg',
 'target_Hesse',
 'target_Lower_Saxony',
 'target_Mecklenburg-Vorpommern',
 'target_North_Rhine-Westphalia',
 'target_Rhineland-Palatinate',
 'target_Saarland',
 'target_Saxony',
 'target_Saxony-Anhalt',
 'target_Schleswig-Holstein',
 'target_Thuringia']

In [217]:
encoded_df = encoded_df.groupby('deal_id').max().reset_index()
encoded_df

,deal_id,target_Eastern_Europe,target_Northern_Africa,target_Northern_America,target_Northern_Europe,target_Southern_Europe,target_Western_Europe,target_Austria,target_Belgium,target_Czechia,...,target_Hesse,target_Lower_Saxony,target_Mecklenburg-Vorpommern,target_North_Rhine-Westphalia,target_Rhineland-Palatinate,target_Saarland,target_Saxony,target_Saxony-Anhalt,target_Schleswig-Holstein,target_Thuringia
0,1,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,5,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20237,29693,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20238,29694,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
20239,29695,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20240,29696,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20241,29697,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

# Merge all data and drop columns

In [201]:
merged_data=merged_data.drop(['company_category_id','company_state_id','fees_rate','inroad','exit_oriented_y','management_takeover_y','seriousness','agnostic_y','margin','created_at','updated_at','company_inroad_id','company_id','max_revenue','min_revenue','max_ebitda','min_ebitda','max_equity','min_equity','searchmandate','invest_profile_id'], axis=1)

In [202]:
[x for x in merged_data.columns]

['deal_id',
 'result',
 'investor_id',
 'investor_name',
 'is_lost',
 'target_revenue',
 'target_ebitda',
 'target_ebit',
 'DISTRESSED_x',
 'MAJORITY_x',
 'MINORITY_x',
 'OTHER',
 'VC',
 'NOT_SPECIFIED',
 'NO_CAPACITY',
 'NO_MA_PLANNED',
 'NO_REGION_FIT',
 'NO_RESPONSE',
 'NO_STRATEGIC_FIT',
 'TOO_EXPENSIVE',
 'TOO_SMALL',
 'target_agriculture',
 'target_automotive',
 'target_biotechnology_and_life_sciences',
 'target_chemicals',
 'target_computer_hardware_and_equipment',
 'target_construction',
 'target_consumer_goods_and_apparel',
 'target_defense',
 'target_electronics',
 'target_energy',
 'target_financial_services',
 'target_food_and_beverages',
 'target_food_and_staples_retailing',
 'target_health_care_equipment_and_services',
 'target_it_services',
 'target_industrial_automation',
 'target_industrial_products_and_services',
 'target_insurance',
 'target_internet_ecommerce',
 'target_leisure_and_consumer_services',
 'target_manufacturing_other',
 'target_media',
 'target_mining',
 'target_pharmaceuticals',
 'target_professional_services_b2b',
 'target_real_estate',
 'target_retailing',
 'target_semiconductors_and_semiconductor_equipment',
 'target_software_and_services',
 'target_telecommunication_hardware',
 'target_telecommunication_services',
 'target_transportation',
 'target_utilities',
 'exit_oriented_x',
 'management_takeover_x',
 'agnostic_x',
 'no_fee',
 'pays_1',
 'pays_2',
 'pays_3',
 'fee_sharing_10',
 'fee_sharing_25',
 'keine_marge',
 'mind_10',
 'mind_15',
 'mind_20',
 'mind_5',
 'undermanaged',
 'CAPITAL_INCREASE',
 'CARVE_OUT',
 'DISTRESSED_y',
 'GROWTH',
 'INSOLVENCY',
 'REAL_ESTATE',
 'SEED',
 'SUCCESSION',
 'FULL',
 'MAJORITY_y',
 'MINORITY_y',
 'no_stake_info',
 'investor_agriculture',
 'investor_automotive',
 'investor_biotechnology_and_life_sciences',
 'investor_chemicals',
 'investor_computer_hardware_and_equipment',
 'investor_construction',
 'investor_consumer_goods_and_apparel',
 'investor_defense',
 'investor_electronics',
 'investor_energy',
 'investor_financial_services',
 'investor_food_and_beverages',
 'investor_food_and_staples_retailing',
 'investor_government',
 'investor_health_care_equipment_and_services',
 'investor_it_services',
 'investor_industrial_automation',
 'investor_industrial_products_and_services',
 'investor_insurance',
 'investor_internet_ecommerce',
 'investor_leisure_and_consumer_services',
 'investor_manufacturing_other',
 'investor_media',
 'investor_mining',
 'investor_pharmaceuticals',
 'investor_professional_services_b2b',
 'investor_real_estate',
 'investor_retailing',
 'investor_semiconductors_and_semiconductor_equipment',
 'investor_software_and_services',
 'investor_telecommunication_hardware',
 'investor_telecommunication_services',
 'investor_transportation',
 'investor_utilities',
 'investor_sector_count',
 'name',
 'investor_Australia_and_New_Zealand',
 'investor_Eastern_Africa',
 'investor_Eastern_Asia',
 'investor_Eastern_Europe',
 'investor_Northern_Africa',
 'investor_Northern America',
 'investor_Northern_Europe',
 'investor_South_America',
 'investor_South_Eastern_Asia',
 'investor_Southern_Africa',
 'investor_Southern_Asia',
 'investor_Southern_Europe',
 'investor_Western_Africa',
 'investor_Western Asia',
 'investor_Western_Europe',
 'investment_Australia_and_New_Zealand',
 'investment_Caribbean',
 'investment_Central_America',
 'investment_Central_Asia',
 'investment_Eastern_Africa',
 'investment_Eastern_Asia',
 'investment_Eastern_Europe',
 'investment_Latin_America_and_the_Caribbean',
 'investment_Melanesia',
 'investment_Micronesia',
 'investment_Middle_Africa',
 'investment_Northern_Africa',
 'investment_Northern_America',
 'investment_Northern_Europe',
 'investment_Polynesia',
 'investment_South_America',
 'investment_South-eastern_Asia',
 'investment_Southern_Africa',
 'investment_Southern_Asia',
 'investment_Southern_Europe',
 'investment_Western_Africa',
 'investment_Western_Asia',
 'investment_Western_Europe']

In [218]:
final_df = pd.merge(merged_data, encoded_df, on='deal_id', how='left')
final_df

,deal_id,result,investor_id,investor_name,is_lost,target_revenue,target_ebitda,target_ebit,DISTRESSED_x,MAJORITY_x,...,target_Hesse,target_Lower_Saxony,target_Mecklenburg-Vorpommern,target_North_Rhine-Westphalia,target_Rhineland-Palatinate,target_Saarland,target_Saxony,target_Saxony-Anhalt,target_Schleswig-Holstein,target_Thuringia
0,3,0,1,Greencoat Capital,0,-0.670000,-1.344,-1.400000,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,0,7,AL Capital Holding GmbH & Co. KG,0,4.745455,4.080,4.250000,0,1,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,0,7,AL Capital Holding GmbH & Co. KG,0,-0.209091,0.800,0.833333,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,0,7,AL Capital Holding GmbH & Co. KG,1,4.954545,3.360,2.250000,0,1,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,9,1,7,AL Capital Holding GmbH & Co. KG,1,-0.118182,0.240,0.250000,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16994,29692,1,9992,4elements holding GmbH,0,-0.200000,-0.560,-0.591667,0,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
16995,29693,0,9992,4elements holding GmbH,0,0.200000,-0.480,-0.500000,0,1,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16996,29695,0,9992,4elements holding GmbH,1,-0.527273,-0.520,-0.541667,0,1,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16997,29696,0,9992,4elements holding GmbH,0,-0.163636,-0.320,-0.333333,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16998,29697,0,9992,4elements holding GmbH,0,-0.090909,-0.488,-0.516667,0,1,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [239]:
pd.DataFrame(final_df.isnull().sum().sort_values(ascending=False)/len(final_df))[50:100]

                                                           0
investor_computer_hardware_and_equipment            0.080064
investor_chemicals                                  0.080064
investor_biotechnology_and_life_sciences            0.080064
investor_construction                               0.080064
investor_manufacturing_other                        0.080064
investor_insurance                                  0.080064
investor_internet_ecommerce                         0.080064
investor_sector_count                               0.080064
investor_utilities                                  0.080064
investor_transportation                             0.080064
investor_telecommunication_services                 0.080064
investor_telecommunication_hardware                 0.080064
investor_software_and_services                      0.080064
investor_semiconductors_and_semiconductor_equip...  0.080064
investor_retailing                                  0.080064
investor_real_estate                                0.080064
investor_professional_services_b2b                  0.080064
investor_pharmaceuticals                            0.080064
investor_mining                                     0.080064
investor_media                                      0.080064
investor_agriculture                                0.080064
investor_leisure_and_consumer_services              0.080064
investor_automotive                                 0.080064
investor_it_services                                0.080064
REAL_ESTATE                                         0.057474
mind_15                                             0.057474
SEED                                                0.057474
exit_oriented_x                                     0.057474
management_takeover_x                               0.057474
agnostic_x                                          0.057474
no_fee                                              0.057474
pays_1                                              0.057474
pays_2                                              0.057474
pays_3                                              0.057474
fee_sharing_10                                      0.057474
fee_sharing_25                                      0.057474
keine_marge                                         0.057474
mind_10                                             0.057474
CAPITAL_INCREASE                                    0.057474
mind_20                                             0.057474
no_stake_info                                       0.057474
SUCCESSION                                          0.057474
mind_5                                              0.057474
MAJORITY_y                                          0.057474
MINORITY_y                                          0.057474
FULL                                                0.057474
INSOLVENCY                                          0.057474
GROWTH                                              0.057474
DISTRESSED_y                                        0.057474
CARVE_OUT                                           0.057474

In [226]:
final_df_no_cat = final_df.drop(['investor_name', 'name'],axis=1)
final_df_no_cat.head()

,deal_id,result,investor_id,is_lost,target_revenue,target_ebitda,target_ebit,DISTRESSED_x,MAJORITY_x,MINORITY_x,...,target_Hesse,target_Lower_Saxony,target_Mecklenburg-Vorpommern,target_North_Rhine-Westphalia,target_Rhineland-Palatinate,target_Saarland,target_Saxony,target_Saxony-Anhalt,target_Schleswig-Holstein,target_Thuringia
0,3,0,1,0,-0.670000,-1.344,-1.400000,0,1,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,0,7,0,4.745455,4.080,4.250000,0,1,0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,0,7,0,-0.209091,0.800,0.833333,0,1,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,0,7,1,4.954545,3.360,2.250000,0,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,9,1,7,1,-0.118182,0.240,0.250000,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [233]:
final_df_no_cat = final_df_no_cat.fillna(0)

In [236]:
final_df_no_cat.head()

,deal_id,result,investor_id,is_lost,target_revenue,target_ebitda,target_ebit,DISTRESSED_x,MAJORITY_x,MINORITY_x,...,target_Hesse,target_Lower_Saxony,target_Mecklenburg-Vorpommern,target_North_Rhine-Westphalia,target_Rhineland-Palatinate,target_Saarland,target_Saxony,target_Saxony-Anhalt,target_Schleswig-Holstein,target_Thuringia
0,3,0,1,0,-0.670000,-1.344,-1.400000,0,1,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,6,0,7,0,4.745455,4.080,4.250000,0,1,0,...,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,7,0,7,0,-0.209091,0.800,0.833333,0,1,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,8,0,7,1,4.954545,3.360,2.250000,0,1,0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,9,1,7,1,-0.118182,0.240,0.250000,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [237]:
final_df_no_cat.to_excel('preprocessed_data_1march.xlsx')