In [14]:
import pandas as pd
pd.set_option("display.max_columns", None)

import sklearn

import numpy as np

In [4]:
df_deals_raw = pd.read_excel('deals_raw.xlsx')

In [61]:
df_deals_raw.head()

,id,company_id,name,deal_type_id,deal_stage_id,is_lost,lost_reason_id,comment,target_company_id,target_name,target_description,target_revenue,target_ebitda,target_ebit,target_country_id,target_region_id,target_zipcode,crm_id,parent_crm_id,crm_created_at,crm_updated_at,crm_synced_at,created_at,updated_at,deleted_at,is_deleted,lead_source_id,lead_prio,id.1,name.1,id.2,name.2,id.3,name.3,id.4,iso_alpha2,iso_alpha3,name_en,name_de,name_fr,name_es,phone_country_code,continent_id,id.5,country_id,name_en.1,name_de.1,name_fr.1,name_es.1,id.6,deal_id,sector_id,created_at.1,updated_at.1,deleted_at.1,is_deleted.1,id.7,name_en.2,name_de.2,id.8,deal_sector_id,subsector_id,created_at.2,updated_at.2,deleted_at.2,is_deleted.2,id.9,sector_id.1,name_en.3,name_de.3,id.10,deal_id.1,keyword_id,created_at.3,updated_at.3,deleted_at.3,is_deleted.3,id.11,name_de.4,created_at.4,updated_at.4,deleted_at.4,is_deleted.4
0,1,1,1301 Sun,4.0,2,1,0.0,NaN,NaN,Sun [Target],?\t350MWp of solar photovoltaic project assets...,NaN,NaN,NaN,NaN,NaN,-,3611818364,3586205129,2020-12-14 08:35:39,2021-09-09 06:48:37,2021-10-14 13:47:07,2021-10-14 13:47:13,2021-10-21 07:59:09,NaN,0,NaN,NaN,2,APPROACH_SENT,4.0,OTHER,0.0,NOT_SPECIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,1,Energy,Energie,1,1,236,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,236,1,Solar power,Solarenergie,1,1,1,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,1,solar,2021-10-14 13:47:07,2021-10-14 13:47:07,NaN,0
1,1,1,1301 Sun,4.0,2,1,0.0,NaN,NaN,Sun [Target],?\t350MWp of solar photovoltaic project assets...,NaN,NaN,NaN,NaN,NaN,-,3611818364,3586205129,2020-12-14 08:35:39,2021-09-09 06:48:37,2021-10-14 13:47:07,2021-10-14 13:47:13,2021-10-21 07:59:09,NaN,0,NaN,NaN,2,APPROACH_SENT,4.0,OTHER,0.0,NOT_SPECIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,1,Energy,Energie,1,1,236,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,236,1,Solar power,Solarenergie,2,1,2,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,2,pv,2021-10-14 13:47:07,2021-10-14 13:47:07,NaN,0
2,1,1,1301 Sun,4.0,2,1,0.0,NaN,NaN,Sun [Target],?\t350MWp of solar photovoltaic project assets...,NaN,NaN,NaN,NaN,NaN,-,3611818364,3586205129,2020-12-14 08:35:39,2021-09-09 06:48:37,2021-10-14 13:47:07,2021-10-14 13:47:13,2021-10-21 07:59:09,NaN,0,NaN,NaN,2,APPROACH_SENT,4.0,OTHER,0.0,NOT_SPECIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,1,Energy,Energie,1,1,236,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,236,1,Solar power,Solarenergie,3,1,3,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,3,energie,2021-10-14 13:47:07,2021-10-14 13:47:07,NaN,0
3,1,1,1301 Sun,4.0,2,1,0.0,NaN,NaN,Sun [Target],?\t350MWp of solar photovoltaic project assets...,NaN,NaN,NaN,NaN,NaN,-,3611818364,3586205129,2020-12-14 08:35:39,2021-09-09 06:48:37,2021-10-14 13:47:07,2021-10-14 13:47:13,2021-10-21 07:59:09,NaN,0,NaN,NaN,2,APPROACH_SENT,4.0,OTHER,0.0,NOT_SPECIFIED,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,1,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,1,Energy,Energie,1,1,236,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,236,1,Solar power,Solarenergie,4,1,4,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,4,photovoltaik,2021-10-14 13:47:07,2021-10-14 13:47:07,NaN,0
4,2,1,1220 Supple,4.0,2,1,6.0,NaN,NaN,Supple [Target],Solaranlage in Kreta,57.7,NaN,NaN,NaN,NaN,NaN,3328836718,3292812393,2020-11-06 19:24:26,2021-09-08 08:36:44,2021-10-14 13:47:07,2021-10-14 13:47:13,2021-10-21 08:34:03,NaN,0,NaN,NaN,2,APPROACH_SENT,4.0,OTHER,6.0,NO_REGION_FIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,1,Energy,Energie,3,2,236,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,236,1,Solar power,Solarenergie,6,2,1,2021-10-14 13:47:13,2021-10-14 13:47:13,NaN,0,1,solar,2021-10-14 13:47:07,2021-10-14 13:47:07,NaN,0

In [62]:
df_deals_raw['name_de.3'].value_counts(dropna = False)

Industrieanlagen und Maschinen                         21455
Internet Handel                                        17008
Industrielle Dienstleistungen                          14048
Handel - sonstige                                      12163
IT-Beratung                                             9334
                                                       ...
Distributeure                                             18
Robotik                                                   15
Mobilfunk- / Satelliten-Telekommunikationsbetreiber        9
Schifffahrt                                                8
Investment Banking                                         3
Name: name_de.3, Length: 178, dtype: int64

In [63]:
df_deals_raw.shape

(348066, 83)

In [64]:
len(df_deals_raw.target_name.unique())

1090

In [65]:
rel_columns = ['target_name', 'name', 'target_ebit', 'target_ebitda', 'target_revenue']

In [66]:
dict_2 = {}
dict_3 = {}
dict_4 = {}


#'name_de.2', 'name_de.3', 'name_de.4

for i in df_deals_raw['target_name'].unique():
    df_rel = df_deals_raw.loc[df_deals_raw['target_name'] == i]
    set_rel_2 = set(df_rel['name_de.2'])
    dict_2[i] = set_rel_2

    set_rel_3 = set(df_rel['name_de.3'])
    dict_3[i] = set_rel_3

    set_rel_4 = set(df_rel['name_de.4'])
    dict_4[i] = set_rel_4

In [67]:
dict_sect.get('Sun [Target]')

{'Solarenergie'}

In [70]:
df_deals_raw_rel = df_deals_raw[rel_columns].copy().drop_duplicates(subset = 'name')

In [71]:
df_deals_raw_rel.shape

(1111, 5)

In [72]:
df_deals_raw_rel['2'] = df_deals_raw_rel.target_name.apply(lambda x: dict_2.get(x))
df_deals_raw_rel['3'] = df_deals_raw_rel.target_name.apply(lambda x: dict_3.get(x))
df_deals_raw_rel['4'] = df_deals_raw_rel.target_name.apply(lambda x: dict_4.get(x))

In [73]:
df_deals_raw_rel.head()

,target_name,name,target_ebit,target_ebitda,target_revenue,2,3,4
0,Sun [Target],1301 Sun,NaN,NaN,NaN,{Energie},{Solarenergie},"{pv, energie, photovoltaik, solar}"
4,Supple [Target],1220 Supple,NaN,NaN,57.70,{Energie},"{Erneuerbare Energie - sonstige, Solarenergie}","{sonne, solar, pv, fresnel, photovoltaik, ener..."
16,SPH Sustainable Process Heat GmbH,1677 Heat,-0.78,-0.78,0.43,{Industrielle Produkte & Dienstleistungen},{Pumpen und Armaturen},"{pumpen, niedertemperatur, energieeffizient, w..."
22,SUMMIQ AG,845 Apollo,0.00,0.00,0.00,{Finanzdienstleistungen},{Finanzdienstleistungen - sonstige},"{energieversorger, stadtwerke, infrastrukturfo..."
26,KSW Bioenergie GmbH,390 Saragossa,0.00,0.00,0.00,{Energie},{Bioenergie},"{bioenergie, co2, nachhaltigkeit, biotreibstof..."

In [74]:
df_deals_raw_rel['comb'] = df_deals_raw_rel.apply(lambda x: set.union(x['2'], x['3'], x['4']), axis = 1)

In [75]:
df_deals_raw_rel.head()

,target_name,name,target_ebit,target_ebitda,target_revenue,2,3,4,comb
0,Sun [Target],1301 Sun,NaN,NaN,NaN,{Energie},{Solarenergie},"{pv, energie, photovoltaik, solar}","{pv, Solarenergie, Energie, photovoltaik, ener..."
4,Supple [Target],1220 Supple,NaN,NaN,57.70,{Energie},"{Erneuerbare Energie - sonstige, Solarenergie}","{sonne, solar, pv, fresnel, photovoltaik, ener...","{Energie, sonne, solar, pv, Solarenergie, fres..."
16,SPH Sustainable Process Heat GmbH,1677 Heat,-0.78,-0.78,0.43,{Industrielle Produkte & Dienstleistungen},{Pumpen und Armaturen},"{pumpen, niedertemperatur, energieeffizient, w...","{pumpen, niedertemperatur, Industrielle Produk..."
22,SUMMIQ AG,845 Apollo,0.00,0.00,0.00,{Finanzdienstleistungen},{Finanzdienstleistungen - sonstige},"{energieversorger, stadtwerke, infrastrukturfo...","{stadtwerkegruppen, energieversorger, Finanzdi..."
26,KSW Bioenergie GmbH,390 Saragossa,0.00,0.00,0.00,{Energie},{Bioenergie},"{bioenergie, co2, nachhaltigkeit, biotreibstof...","{bioenergie, co2, Energie, nachhaltigkeit, bio..."

In [76]:
df_deals_raw_rel['comb_str'] = df_deals_raw_rel.comb.apply(lambda x: list(map(str, x)))

In [77]:
df_deals_raw_rel['strs'] = df_deals_raw_rel.comb_str.apply(lambda x:  ",".join(list(x)))

In [78]:
df_deals_raw_rel.head()

,target_name,name,target_ebit,target_ebitda,target_revenue,2,3,4,comb,comb_str,strs
0,Sun [Target],1301 Sun,NaN,NaN,NaN,{Energie},{Solarenergie},"{pv, energie, photovoltaik, solar}","{pv, Solarenergie, Energie, photovoltaik, ener...","[pv, Solarenergie, Energie, photovoltaik, ener...","pv,Solarenergie,Energie,photovoltaik,energie,s..."
4,Supple [Target],1220 Supple,NaN,NaN,57.70,{Energie},"{Erneuerbare Energie - sonstige, Solarenergie}","{sonne, solar, pv, fresnel, photovoltaik, ener...","{Energie, sonne, solar, pv, Solarenergie, fres...","[Energie, sonne, solar, pv, Solarenergie, fres...","Energie,sonne,solar,pv,Solarenergie,fresnel,ph..."
16,SPH Sustainable Process Heat GmbH,1677 Heat,-0.78,-0.78,0.43,{Industrielle Produkte & Dienstleistungen},{Pumpen und Armaturen},"{pumpen, niedertemperatur, energieeffizient, w...","{pumpen, niedertemperatur, Industrielle Produk...","[pumpen, niedertemperatur, Industrielle Produk...","pumpen,niedertemperatur,Industrielle Produkte ..."
22,SUMMIQ AG,845 Apollo,0.00,0.00,0.00,{Finanzdienstleistungen},{Finanzdienstleistungen - sonstige},"{energieversorger, stadtwerke, infrastrukturfo...","{stadtwerkegruppen, energieversorger, Finanzdi...","[stadtwerkegruppen, energieversorger, Finanzdi...","stadtwerkegruppen,energieversorger,Finanzdiens..."
26,KSW Bioenergie GmbH,390 Saragossa,0.00,0.00,0.00,{Energie},{Bioenergie},"{bioenergie, co2, nachhaltigkeit, biotreibstof...","{bioenergie, co2, Energie, nachhaltigkeit, bio...","[bioenergie, co2, Energie, nachhaltigkeit, bio...","bioenergie,co2,Energie,nachhaltigkeit,biotreib..."